body {
    font-size: 8px;
    font-family: sans-serif;
    box-sizing: border-box;

}

.seartchbar {
    display: flex;
    flex-direction: column;
    width: 352px;
    height: 192px;
    padding: 3rem 3rem 3rem 3rem;
    border: 2px dashed #8055ff;
    border-radius: 0.5rem;

}

 /*Input ФИО*/

.searchbar-form {
    display: flex;
    width: 256px;
    height: 32px;
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #459df5;
    border-radius: 4px;
}

.seartchbar-form__button-FCS {
    width: 1rem;
    height: 1rem;
    border: none;
    margin: 0.5rem;
    background: url('../icons/search.svg') no-repeat #fff;
}

.seartchbar-form__button-FCS:hover {
    background: url('../icons/search2.svg') no-repeat #fff;
}

.seartchbar-form__input-FCS {
    width: 220px;
    height: 1rem;
    color: #bad8f5;
    font-size: 14px;
    margin: 8px 4px 8px 0;
    border: none;
}

.seartchbar-form__input-FCS:focus {
    border: 1px solid #459df5;
}

.seartchbar-form__input-FCS::placeholder {
    color: #bad8f5;
}

 /*Плавное скрытие текста в Placeholder*/

.seartchbar-form__input-FCS::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.seartchbar-form__input-FCS::-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.seartchbar-form__input-FCS:-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.seartchbar-form__input-FCS:-ms-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.seartchbar-form__input-FCS:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.seartchbar-form__input-FCS:focus::-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.seartchbar-form__input-FCS:focus:-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.seartchbar-form__input-FCS:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

.seartchbar-form__input-number::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.seartchbar-form__input-number::-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.seartchbar-form__input-number:-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.seartchbar-form__input-number:-ms-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
.seartchbar-form__input-number:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.seartchbar-form__input-number:focus::-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.seartchbar-form__input-number:focus:-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.seartchbar-form__input-number:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

/*Input номера*/

.seartchbar-form__button-number {
    width: 1rem;
    height: 1rem;
    border: none;
    margin: 0.5rem;
    background: url('../icons/search.svg') no-repeat #fff;
}

.seartchbar-form__button-number:hover {
    background: url('../icons/search2.svg') no-repeat #fff;
}

.seartchbar-form__input-number {
    width: 188px;
    height: 1rem;
    color: #000;
    font-size: 14px;
    margin: 8px 4px 8px 0;
    border: none;
}

.seartchbar-form__button-close {
    width: 1rem;
    height: 1rem;
    border: none;
    margin: 0.5rem;
    background: url('../icons/x-medium.svg') no-repeat #fff;
}

.seartchbar-form__button-close:hover {
    background: url('../icons/x-medium2.svg') no-repeat #fff;
}

.seartchbar-form__input-close::placeholder {
    color: #000;
}


