/* Левый радио */

.custom-checkbox {
    display: flex;
    width: 104px;
    height: 64px;
    border: 2px dashed #8055ff;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1.4rem;
}

.custom-checkbox__first {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-right: 20px;
}

.custom-checkbox__first+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-right: 20px;
}

.custom-checkbox__first+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox__first:checked+label::before {
    border-color: #459df5;
    background-color: #459df5;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='4 4 10 10' fill='%23fff' stroke='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 10L4.5 6L3 7L7 14L14.5 3.5V3L13 2L7 10Z' stroke='none'/%3e%3c/svg%3e");
}

.custom-checkbox__first:not(:disabled):not(:checked)+label:hover::before {
    border:2px solid #8055ff;
}

.custom-checkbox__first:checked+label:hover::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='4 4 10 10' fill='%238055ff' stroke='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 10L4.5 6L3 7L7 14L14.5 3.5V3L13 2L7 10Z' stroke='none'/%3e%3c/svg%3e");
}

/* Правый радио*/

.custom-checkbox__second {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox__second+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    
}

.custom-checkbox__second+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox__second:checked+label::before {
    border-color: #459df5;
    background-color: #459df5;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='4 4 10 10' fill='%23fff' stroke='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 10L4.5 6L3 7L7 14L14.5 3.5V3L13 2L7 10Z' stroke='none'/%3e%3c/svg%3e");
}

.custom-checkbox__second:not(:disabled):not(:checked)+label:hover::before {
    border:2px solid #8055ff;
}

.custom-checkbox__second:checked+label:hover::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='4 4 10 10' fill='%238055ff' stroke='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 10L4.5 6L3 7L7 14L14.5 3.5V3L13 2L7 10Z' stroke='none'/%3e%3c/svg%3e");
}
