.body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}

/* Оформление общих блоков input*/

.input-form {
    padding: 1rem 0;
    width: 352px;
    height: 400px;
    padding: 1rem 0px;
    border: 2px dashed #8055FF;    
    box-sizing: border-box;
    border-radius: 5px;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    width: 256px;
    height: 72px;
    left: 48px;
    top: 48px;  
}


.form-incorrect {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 256px;
    height: 72px;
    left: 48px;
    top: 168px;
    
}

.form-disable {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 256px;
    height: 72px;
    left: 48px;
    top: 288px;
}

/* "Дата и время" над тэгом input */

.input-form__signature-input {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
   
}

/* Оформление поля ввода в input */

.form-field__input-empty {
    padding: .5rem .5rem .5rem 0.5rem;
    width: 256px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #459DF5;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 8px 0px;
}

.form-incorrect__input-date {
    padding: .5rem .5rem .5rem 0.5rem;
    width: 256px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #F53152;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 8px 0px;
}

.form-disable__disable-date {
    padding: .5rem .5rem .5rem 0.5rem;
    width: 256px;
    height: 32px;
    background: #BAD8F5;
    border: 1px solid #459DF5;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 8px 0px;

}

/* Иконка замка */

.form-disable__input-icon {
    position: absolute;
    width: 16px;
    height: 18px;
    left: 232px;
    top: 46px;
    fill: #000;
}

