.body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}

/* Оформление общих блоков input*/

.input__boddy {
    position: relative;
    padding: 1rem 0;
    width: 352px;
    height: 400px;
    padding: 1rem 0px;
    border: 2px dashed #8055FF;    
    box-sizing: border-box;
    border-radius: 5px;
}

.input__empty {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;
    position: absolute;
    width: 256px;
    height: 72px;
    left: 48px;
    top: 48px;
    
}


.input__incorrect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    position: absolute;
    width: 256px;
    height: 72px;
    left: 48px;
    top: 168px;
    
}

.input__disable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    position: absolute;
    width: 256px;
    height: 72px;
    left: 48px;
    top: 288px;
}

/* "Дата и время" над тэгом input */

.signature_input {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
   
}

/* Оформление поля ввода в input */

.empty__date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem .5rem .5rem 0.5rem;
    width: 256px;
    height: 32px;
    left: calc(50% - 256px/2);
    top: calc(50% - 32px/2 + 12px);
    background: #FFFFFF;
    border: 1px solid #459DF5;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.incorrect__date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem .5rem .5rem 0.5rem;
    width: 256px;
    height: 32px;
    left: calc(50% - 256px/2);
    top: calc(50% - 32px/2 + 12px);
    background: #FFFFFF;
    border: 1px solid #F53152;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.disable__date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem .5rem .5rem 0.5rem;
    width: 256px;
    height: 32px;
    left: calc(50% - 256px/2);
    top: calc(50% - 32px/2 + 12px);
    background: #BAD8F5;
    border: 1px solid #459DF5;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;

}

/* Иконка замка */

.disable__input_icon {
    position: absolute;
    width: 16px;
    height: 18px;
    left: 232px;
    top: 46px;
    fill: #000;
}

